body{
	margin:0;
	padding:0;
	background-color:black;
	color:white;
}
body{
	position:absolute;
}
img{
	margin:auto;
}
#rideau1{
	float:left;
	margin-left:-50%;
}
#rideau2{
	float:right;
	margin-right:-50%;
}
#main{
	font-family:'Courier New';
	margin-top:8%;
	margin-left:40%;
	margin-right:40%;
	float:center;
	text-align:center;
}
h{
	font-weight:bold;
	font-size:50px;
}
p{
	margin-top: 20%;
	font-size:30px;
}
#stuff{
	margin-left:-50%;
	margin-right:-50%;
	margin-top: 40%
}
.review{
	display:inline-block;
	margin-left:6%;
	margin-right:6%;
	width:20%;
}
.reviewer{
	color:grey;
	text-align: right;
}
a{
	color:white;
	text-decoration: none;
}