body{
	background-color: black;
}
img{
		width:100%;
		margin-left:0;
		margin-right:0;
}
@media (min-width: 800px) {
	img{
	width:800px;
    position: relative;          /* where the next element will be automatically positioned */
    display: inline-block;       /* causes element width to shrink to fit content */
    left: 50%;                   /* moves left side of image/element to center of parent element */
    transform: translate(-50%); 

	}
}