hr{
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 2px dashed white;
    border-bottom: none;
    width: 75%;
}

h2:hover{
    text-decoration: underline wavy 1.5px;
    text-underline-offset: 5px;
}

body{
    margin:auto;
    padding:15px;
}

.separator{
    text-align:center;
    display: block;
    white-space: pre;
    font-family: monospace;
    margin-top: 32px;
    margin-bottom: 32px;
}