body{
	overflow:hidden;
	background-image: url("Jakarta_Grey_Matt_300x300_BJA2035A.jpg")
}
#Book{
	cursor:pointer;
}
#book{
	position:absolute;
	display:block;
	width:105%;
	margin-left:-2%;
	margin-right:0%;
	top:-10%;
	overflow:hidden;
	transition: top ease-in 1s;
	z-index: 50;
}
#content{
	visibility:hidden;
	opacity:0;
	transition:opacity ease-out 1s;
}
#recipe{
	position:absolute;
	margin-right:66%;
	margin-left:4%;
	top:15%;
}
#video{
	position:absolute;
	margin-left:40%;
	margin-right:2%;
	top:17%;
	width:50%;
	height:60%;
}
h1{
	color:#7C574F;
	font-weight:bold;
	font-size:2.5em;
	font-family:"Playfair Display";
}
h2{
	color:#7C574F;
	font-weight:normal;
	font-size:1.7em;
	font-family:"Playfair Display";
}
p{
	font-size:1.7em;
	font-family:"Playfair Display";
}
#previous{
	position:fixed;
	left:4%;
	bottom:4%;
}
#next{
	position:fixed;
	right:4%;
	bottom:4%;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:50px;
}
h3{
	text-align:center;
	font-size:1em;
	font-family:"Playfair Display";
}
h4{
	text-align:center;
	font-size:2em;
	font-family:"Playfair Display";
}
