svg{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    height:100%;
}
body{
overflow:hidden;
background-color:black;
}
#karak{
	cursor:pointer;}
#parotha{
	cursor:pointer;
}
#lugaimat{
	cursor:pointer;
}
img{
	position:fixed;
	cursor:pointer;
}
#logo{
	right:2%;
	top:2%;
}
#about{
	left:2%;
	bottom:2%;
	z-index:10;
}
#map{
	right:2%;
	bottom:2%;
	z-index:10;
}