svg{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height:100%;
}
body{
overflow:hidden;
background-color:black;
}
image#karak{
	cursor:pointer;
	transition:transform linear 0.1s;
	-webkit-transition:transform linear 0.1s;
}
image#karak:hover{
	transform:scale(1.2,1.2) translate(-8.5%,-8.5%);
	-webkit-transform:scale(1.2,1.2) translate(-8.5%,-8.5%);
}
image#parotha:hover{
	transform:scale(1.2,1.2) translate(-8.5%,-12%);
	-webkit-transform:scale(1.2,1.2) translate(-8.5%,-12%);

}
image#lugaimat:hover{
	transform:scale(1.2,1.2) translate(-8.5%,-10.5%);
	-webkit-transform:scale(1.2,1.2) translate(-8.5%,-10.5%);
}
image#shawarma:hover{
	transform:scale(1.2,1.2) translate(-8.5%,-14.5%);
	-webkit-transform:scale(1.2,1.2) translate(-8.5%,-14.5%);
}
#parotha{
	cursor:pointer;
	transition:transform linear 0.1s;
	-webkit-transition:transform linear 0.1s;
}
#lugaimat{
	cursor:pointer;
	transition:transform linear 0.1s;
	-webkit-transition:transform linear 0.1s;
}
#shawarma{
	cursor:pointer;
	transition:transform linear 0.1s;
	-webkit-transition:transform linear 0.1s;
}
img{
	position:fixed;
	cursor:pointer;
}
#logo{
	right:2%;
	top:2%;
}
#about{
	left:2%;
	bottom:2%;
	z-index:10;
}
#map{
	right:2%;
	bottom:2%;
	z-index:10;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#guide{
	display:none;
}
@media only screen and (orientation:portrait){
	#guide{
		display:initial;
		position:absolute;	
		left:0%;
		right:0%;
		margin-left:auto;
		margin-right:auto;
		height:0%;
		font-size:8em;
		text-align:center;
		font-family:courier;
		font-weight:bold;
		color:white;
		bottom:10%;
	}
}