#world{
    width:100%;
    height:100%;
    position: absolute;
    top:210px;
}

html{
    font-family: 'Aktiv';
}

body{
    overflow: hidden;
    width:2000px;
    height:2000px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23191715' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #fff;
    background-repeat: repeat;
}

@media only screen and (min-width:100px) {
    body {
      overflow:visible;
    }
    .avatar{
        top:0px;
        left:0px;
    }
}
@media only screen and (min-width:801px) {
    body {
      overflow:hidden;
    }
}

p{
    text-align: justify;
}

a{
    color:#ff57b3;
}

li{
    list-style: square;
}

.island{
    position: absolute;
    width: 400px;
    padding: 20px;
    background-color: white;
}

.imgisland{
    position: absolute;
    width: 400px;
    padding: 10px;
    background-color: white;
}

.bordered{
    outline: black solid 5px;
    box-shadow: 10px 10px #ff57b3;
}

.islandcontent{
    display:flex;
    max-width: 600px;
    justify-content: center;
}

.subisland{
    padding:20px;
    margin:15px;
    width:300px;
    flex-shrink:0;
    z-index: 1;
    background-color: white;
}

#faceImg{
    left:150px;
    top:0px;
    width:300px;
}

#presenterImg{
    left:300px;
    top:650px;
    width:600px;
}

#printerImg{
    left:1300px;
    top:1450px;
    width:600px;
}

#gradesImg{
    left:-100px;
    top:1300px;
    width:300px;
}
#gradesImg2{
    left:0px;
    top:1500px;
    width:200px;
}

#presentingImg{
    left:200px;
    top:2700px;
    width:400px;
}

#appleImg1{
    left:-50px;
    top:2675px;
    width:200px;
}

#sfgdImg{
    left:2100px;
    top:2000px;
    width:400px;
}

#hifiveImg{
    left:2200px;
    top:2400px;
    width:400px;
}

#prideImg{
    left:2400px;
    top:2100px;
    width:400px;
}

#classroomImg{
    left:1600px;
    top:2800px;
    width:400px;
}

#spreadsheetartImg1{
    left:1900px;
    top:600px;
    width:400px;
}

img{
    width:100%
}

#tuto{
    left:525px;
    top:-100px;
}

#intro{
    left:525px;
    top:100px;
    width:500px;
}

#classes{
    left:1400px;
    top:600px;
}

#philosophy{
    left:300px;
    top:1400px;
    width:600px;
}

#insideclassroom{
    left:100px;
    top:2100px;
    width:500px;
}

#extendedexample{
    left:700px;
    top:2200px;
    width:450px;
}

#outsideclassroom{
    left:1600px;
    top:2200px;
    width:500px;
}

#finalstatement{
    left:2100px;
    top:2800px;
}

.avatar{
    position:fixed;
    left:calc(50vw - 32px);
    top:calc(50vh - 32px);
    width:64px;
    height:64px;
    image-rendering: pixelated;
    z-index: 100;
    visibility: hidden;
}

.italic{
    font-style:italic;
}

.textcentered{
    text-align: center;
}

.textright{
    text-align: right;
}


.arrow{
    position: absolute;
    font-size:24px;
    font-weight: bolder;
}

#arrow1{
    left:627px;
    top:450px;
}

#arrow2{
    left:1100px;
    top:800px;
}

#arrow3{
    left:1620px;
    top:1300px;
}

#arrow4{
    left:1100px;
    top:1620px;
}

#arrow5{
    left:627px;
    top:1950px;
}

#arrow6{
    left:1400px;
    top:2400px;
}

#arrow7{
    left:1850px;
    top:2700px;
}

@font-face {
font-family: "Aktiv";
src: url(AktivGrotesk-Regular.ttf) format("truetype");
}

#quote1{
    left:250px;
    top:1000px;
}

#quote2{
    left:1600px;
    top:1750px;
}

#quote3{
    left:2000px;
    top:1100px;
}

#quote4{
    left:2000px;
    top:550px;
}